/* CSS Document */

.sbutton {
  background-color: #008cba; /* blue */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
.notbutton {
  background-color: #f44336; /* red */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
.cfbutton {
  background-color: #4caf50; /* red */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: grey;
  color: #fff;
  transition: all 0.7s;
}
