@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

button,
input {
  font-family: inherit;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
