@import './graph.css';
@import './partials/button.css';
/* CSS Document */

#setup {
  padding-top: 2rem;
}

.sColumn {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .sColumn {
    width: 100%;
  }
}
