@import './partials/global.css';
@import './partials/nav.css';

main {
  padding: 2rem 0;
  display: flex;
  min-height: 90vh;
  gap: 5vw;
}

.floor-list {
  width: 30%;
}

.floor-nav {
  list-style: none;
}

.floor-nav li {
  cursor: pointer;
  padding: 1rem 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  user-select: none;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
}

.floor-nav li:hover {
  background: rgb(235, 235, 235);
}

.floor-nav li.active {
  background: rgb(39, 47, 75);
  font-weight: 600;
  color: white;
}

.floor-number {
  margin-bottom: 2rem;
}

.floor-display {
  width: 70%;
}

.rooms {
  display: none;
}

.rooms.active {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.room {
  padding: 1.5rem 2rem;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  background: white;
  box-shadow: 1.5px 2.5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.room:hover {
  transform: scale(1.025);
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
}

.room h3 {
  text-align: center;
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.people {
  display: flex;
  align-items: center;
}

.people-status {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: background 0.3s ease-in-out;
}
