@import './partials/global.css';
@import './partials/nav.css';

main {
  padding: 2rem 0;
  display: flex;
  min-height: 90vh;
  gap: 5vw;
}

.floor-list {
  width: 30%;
}

.floor-nav {
  list-style: none;
}

.floor-nav li {
  cursor: pointer;
  padding: 1rem 1rem;
  border: 2px solid rgb(219, 219, 219);
  margin: 0.5rem 0;
  border-radius: 5px;
  user-select: none;
}

.floor-nav li.active,
.floor-nav li:hover {
  background: rgb(219, 219, 219);
}

.floor-nav li.active {
  font-weight: 600;
}

.floor-number {
  margin-bottom: 2rem;
}

.floor-display {
  width: 70%;
}

.rooms {
  display: none;
}

.rooms.active {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.room {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  transition-property: color background;
}

/* Create three equal columns that floats next to each other */
.gColumn {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear floats after the columns */
.gRow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .gColumn {
    width: 100%;
  }
}