@import './index.css';
@import './partials/button.css';
@import './partials/global.css';

.header {
  padding: 2rem 0 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 600px) {
  .header {
    text-align: center;
  }
}
