@import './partials/global.css';
@import './partials/nav.css';

section {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url('../images/pexels-blue-ox-studio-2014342.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.signin-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.signin-form {
  border-radius: 1rem;
  padding: 3rem 2rem;
  color: white;
  background: rgba(39, 47, 75, 0.9);
  width: 40%;
}

.signin-form h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.form-control input {
  margin-top: 5px;
  width: 100%;
  border: none;
  border: 1.5px solid transparent;
  border-radius: 5px;
  padding: 10px;
  background: #eee;
  outline: none;
}

.submit-btn {
  background: rgb(101, 46, 146);
  color: white;
  font-weight: 600;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.error-message {
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  background: rgb(197, 91, 91);
  margin-bottom: 1rem;
  border-radius: 5px;
  display: none;
}

@media screen and (max-width: 1200px) {
  .signin-form {
    width: 50%;
  }
}

@media screen and (max-width: 990px) {
  .signin-form {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .signin-form {
    width: 70%;
  }
}

@media screen and (max-width: 620px) {
  .signin-form {
    width: 80%;
  }
}

@media screen and (max-width: 540px) {
  .signin-form {
    width: 90%;
  }
}
